body {
    padding: 35px !important;
    font-family: "Helvetica", sans-serif;
    margin: 0;
}
main p {
    font-size: 0.8em;
    line-height: 1.3em;
    margin: 0;
    padding: 26px 0px 0px 0px;
}
footer {
    display: none;
}
a {
    color: #000;
    text-decoration: none;
}
/*********** Header Styles ************/
header {
    letter-spacing: 1px;
    font-size: 18px;
}
.logo {
    position: fixed;
    top: 35px;
    left: 35px;
}
.menu {
    position: fixed;
    top: 35px;
    right: 35px;
}
.menu__list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.menu__item {
    display: inline;
    margin: 0 0 10px 20px;
    opacity: 0.5;
}
.menu__link {
    padding-bottom: 3px;
}
/*********** Wrapper Styles **************/

.about main {
    max-width: 40%;
    padding-top: 3rem;
}
.project #project-wrapper {
    max-width: 100%;
}
.project .project-img img {
    max-width: 100%;
}
/********** Mobile Styles ************/
@media screen and (max-width:45em){
    main {
  -webkit-transform: none;
  transform: none;
    }
    .about main {
    max-width: 100%;
    padding-top: 3rem;
    }
    #slideshowWrapper, .imageWrapper {
    max-width: 100%;
    margin-right: 0%;
    display: block;
    vertical-align: top;
    width: 100%;
    }
    .text-contents {
    max-width: 100%;
    display: block;
    width: 100%;
}
}
/*********** Headers ********************/
h1 {
    font-size: 16px;
    letter-spacing: 1px;
    margin: 25px 0px;
}
.project h1 {
    position: fixed;
    top: 35px;
    font-size: 18px;
    font-weight: normal;
    text-align: center;
    left: 50%;
    letter-spacing: 1px;
    margin: 0px 0 0 4px;
}
h2 {
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 18px;
}
h3 {
    font-size: 18px;
    font-weight: normal;
    letter-spacing: 1px;
}
/******************* Projects **************************/
/* Styles for projects */
.projects main {
    max-width: 100%;
}
main {
    max-width: 100%;
    width: 100%;
    margin: 0;
    padding: 4em 0em;
    transition: opacity 0.6s;
    flex: 1;
}
.projects_menu-link {
    border-bottom: 0px;
}
.projects_menu img {
    display: block;
    width: 100%;
    height: auto;
}
.project_menu-item {
    margin: 30px 30px 0px 0px;
    vertical-align: top;
}
.projects_menu {
    flex: 1 0 auto;
    max-width: 100%;
    width: 100%;
    display: block;
    text-align: left;
    align-items: flex-start;
    display: flex;
}
.projects_menu-list {
    align-items: flex-start;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    justify-content: flex-start;
}
.project_menu-item {
    margin: 30px 30px 0 0;
    display: block;
    width: 24%;
    vertical-align: top;
}
.project_nav {
    position: fixed;
    bottom: 0;
    background: #e2e2e2;
    width: 100%;
    left: 0;
    right: 0;
    height: 60px;
    line-height: 56px;
    text-align: center;
}
.projects_menu-link {
    font-size: 16px;
    letter-spacing: 1px;
}
.project-img {
    padding: 48px 0px 0px 0px;
}
.text-contents {
    max-width: 45%;
    display: inline-block;
    vertical-align: top;
}
/*------------------ Slider styles --------------------*/
.slider-nav a {
  font-size: 12px;
  color: #000;
  text-decoration: none;
}
#slideshowWrapper, .imageWrapper {
    max-width: 45%;
    margin-right: 5%;
    display: inline-block;
    vertical-align: top;
    width: 45%;
}
@media only screen and (max-width:767px) {
    body {
	background: #fff !important;
	color: #000;
	font-family: Arial, sans-serif;
	font-size: 16px;
	line-height: 24px;
	margin: 0;
	overflow-x: hidden;

	-webkit-text-size-adjust: 100%;
	text-rendering: optimizeLegibility;
	padding-top: 44px;
}
    .project_nav a {
        color: #999;
	display: block;
	float: left;
	height: 44px;
	padding: 18px;
	text-decoration: none;
	position: relative;
    }
    .imageWrapper {
        max-width: 100%;
        width: 100%;
    }
    .text-contents {
    max-width: 100%;
    display: inline-block;
    vertical-align: top;
    }
    .project_nav {
    background: rgba(245, 245, 245, 0.97);
	height: 44px;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 999;
}
}
.slider, .slideshow_thumbnails {
    padding: 30px 0px 0px 0px;
}
.slider img {
  display: none;
  max-width: 100%;
  overflow: hidden;
  opacity: 0;
  height: 0;
  width: 0;
  font-size: 0;
  margin-left: -2px;
}
.slider img.active {
    display: inline-block;
    opacity: 1;
    height: auto;
    vertical-align: bottom;
    max-height: 83vh;
    width: auto;
}
.slider img.inactive {
  visibility: hidden;
  opacity: 0;
}
.slideshow_thumbnails {
  display: none;
}
.slideshow_thumbnails.show {
  display: block;
}
.slideshow_thumbnails.show img {
    max-width: 100%;
    vertical-align: top;
    display: inline-block;
    cursor: pointer;
    margin: 0 20px 20px 0;
    height: 150px;
    width: auto;
}
.slider.hide {
  display: none;
}
.slider-nav .slideshow_toggle_thumbnails {
  float: right;
  margin-right: 1px;
}
/************ Grid Icon Styles *********/
@import "compass";

/* common */

.container {
	width: 100%;
}

.grid-icon {
	display: inline-block;
}

.grid-icon:hover > span > span {
	opacity: .8;
}

.grid-icon > .layer {
	width: 100%;
	position: absolute;
	left: 0;
}

/* style */

.grid-icon--line {
	position: relative;
	width: 28px;
	height: 28px;
}

.grid-icon--line > .layer {
	height: 8px;
}

.grid-icon--line > .layer--primary {
	top: 0;
}
.project_nav a {
    vertical-align: middle;
}
.grid-icon--line > .layer--secondary {
	top: 50%;
	margin-top: -4px;
}

.grid-icon--line > .layer--tertiary {
	bottom: 0;
}

.grid-icon--line > .layer > span {
	position: absolute;
	display: block;
	width: 8px;
	height: 100%;
	box-sizing: border-box;
	border: solid 2px #333;
}

.grid-icon--line > .layer > span:first-child {
	left: 0;
}

.grid-icon--line > .layer > span:nth-child(2) {
	left: 50%;
	margin-left: -4px;
}

.grid-icon--line > .layer > span:last-child {
	right: 0;
}

.grid-icon--fill {
	position: relative;
	width: 26px;
	height: 26px;
}

.grid-icon--fill > .layer {
	width: 100%;
	height: 6px;
}

.grid-icon--fill > .layer--primary {
	top: 0;
}

.grid-icon--fill > .layer--secondary {
	top: 50%;
	margin-top: -3px;
}

.grid-icon--fill > .layer--tertiary {
	bottom: 0;
}

.grid-icon--fill > .layer > span {
	position: absolute;
	display: block;
	width: 6px;
	height: 100%;
	background-color: #333;
}

.grid-icon--fill > .layer > span {
	left: 50%;
	margin-left: -3px;
}

.grid-icon--fill > .layer > span:before {
	display: block;
	content: "";
	width: 6px;
	height: 100%;
	background-color: #333;
	left: -10px;
	position: absolute;
}

.grid-icon--fill > .layer > span:after {
	display: block;
	content: "";
	width: 6px;
	height: 100%;
	background-color: #333;
	right: -10px;
	position: absolute;
}

.grid-icon--line2 {
	position: relative;
	width: 26px;
	height: 26px;
}

.grid-icon--line2 > .layer {
	height: 12px;
}

.grid-icon--line2 > .layer--primary {
	top: 0;
}

.grid-icon--line2 > .layer--secondary {
	bottom: 0;
}

.grid-icon--line2 > .layer > span {
	position: absolute;
	display: block;
	width: 12px;
	height: 100%;
	box-sizing: border-box;
	border: solid 2px #333;
}

.grid-icon--line2 > .layer > span:first-child {
	left: 0;
}

.grid-icon--line2 > .layer > span:nth-child(2) {
	right: 0;
}

.grid-icon--dashedline {
	position: relative;
	width: 24px;
	height: 21px;
}

.grid-icon--dashedline > .layer {
	height: 3px;
}

.grid-icon--dashedline > .layer--primary {
	top: 0;
}

.grid-icon--dashedline > .layer--secondary {
	top: 50%;
	margin-top: -1.5px;
}

.grid-icon--dashedline > .layer--tertiary {
	bottom: 0;
}

.grid-icon--dashedline > .layer > span {
	position: absolute;
	display: block;
	width: 6px;
	height: 100%;
	background-color: #000;
}

.grid-icon--dashedline > .layer > span:first-child {
	left: 0;
}

.grid-icon--dashedline > .layer > span:nth-child(2) {
	left: 50%;
	margin-left: -3px;
}

.grid-icon--dashedline > .layer > span:last-child {
	right: 0;
}
