body {
    font-family: 'Didact Gothic', sans-serif;
    margin: 0;
}
body {
    min-height: 100%;
}
body {
    font-weight: normal;
    letter-spacing: 0px;
    line-height: 1.6em;
    letter-spacing: .01em;
    font-weight: lighter;
    font-style: normal;
    font-size: 17px;
    -webkit-font-smoothing: subpixel antialiasing !important;
}
main p {
    font-size: 0.8em;
    line-height: 1.3em;
    margin: 0;
    padding: 26px 0px 0px 0px;
}
footer {
    display: none;
}
a {
    color: #000;
    text-decoration: none;
}
/*********** Mobile Menu **************/
#mobileMenuLink {
    display: none;
    margin: 15px 0 0;
}
#mobileNav {
    max-height: 0;
    overflow: hidden;
    -webkit-transition: max-height,.3s;
    -moz-transition: max-height,.3s;
    -o-transition: max-height,.3s;
    transition: max-height,.3s;
}
.flexbox:not(.ie11) body {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: flex;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

.flexbox:not(.ie11) #canvasWrapper {
    width: 100%
}

.flexbox:not(.ie11) * {
    -webkit-flex: 0 1 auto;
    -moz-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    flex: 0 1 main-size
}
@media only screen and (max-width:800px) {
	#mobileNav nav ul li {
	    display: block;
	    text-align: center;
	    float: none !important;
	}
	    #canvas {
        margin-top: 0 !important;
        position: static !important
    }
    #headerWrapper {
        position: static
    }
    #header,
    #pageWrapper,
    #footer {
        padding: 30px 20px
    }
    #logo {
        float: none !important;
        margin: 0 !important;
        text-align: center !important
    }
    #topNav {
        position: static !important;
        right: auto !important
    }
    #topNav nav {
        bottom: 0;
        z-index: 10000
    }
    #topNav nav a {
        line-height: 1.5em !important;
        margin: 0;
        padding: 5px 0
    }
    #topNav nav li {
        margin: 0 25px 0 0 !important
    }
    #topNav nav li.folder ul li {
        margin: 0
    }
    #topNav nav li.folder ul li a {
        padding: 3.125px 12.5px
    }
    #page {
        padding: 0 !important;
        float: none !important
    }
    #mainContent {
        width: auto !important;
        margin: 0 !important
    }
    #canvasWrapper,
    #galleryWrapper,
    #slideshowWrapper,
    #slideshow {
        overflow: visible !important
    }
    #header #topNav {
        display: none
    }
	    #mobileMenuLink {
        margin: 0;
        display: block;
        font-family: Open Sans, Helvetica, arial, sans-serif;
        font-weight: normal;
        letter-spacing: 0px;
        font-family: 'Didact Gothic', sans-serif;
        text-transform: none;
        letter-spacing: .04em;
        font-weight: 400;
        font-style: normal;
        padding: 15px;
        background-color: #f7f7f7;
        text-align: center
    }
    #mobileMenuLink a {
        color: #111
    }
    #mobileMenuLink a {
        cursor: pointer;
        display: block;
        margin: 0;
        font-size: 14px !important;
        text-transform: uppercase
    }
    #header #mobileNav {
        position: static;
        top: auto
    }
    #mobileNav .wrapper {
        padding: 1.5em 0
    }
    #mobileNav nav+nav {
        margin: 0 !important
    }
    #mobileNav nav ul li {
        display: block;
        text-align: center;
        float: none !important
    }
    #mobileNav a,
    #mobileNav label {
        font-size: 16px !important;
        line-height: 1.2em !important;
        padding: .7em;
        display: block
    }
    #mobileNav li a:after {
        display: none !important
    }
    #mobileNav .folder>a:before,
    #mobileNav .folder>label:before {
        content: '+ '
    }
    #mobileNav .folder .subnav {
        max-height: 0;
        overflow: hidden;
        margin-top: 0 !important;
        -webkit-transition: max-height, .3s;
        -moz-transition: max-height, .3s;
        -o-transition: max-height, .3s;
        transition: max-height, .3s
    }
    #mobileNav .folder ul {
        overflow: hidden;
        padding: 6.25px 0;
        display: block;
        background-color: #f7f7f7
    }
    #mobileNav .folder ul a {
        color: #111
    }
    #mobileNav .folder.folder-open>a:before,
    #mobileNav .folder.folder-open>label:before {
        content: '- '
    }
    #mobileNav .folder.folder-open .subnav {
        max-height: 999px
    }
    #mobileNav.menu-open {
        max-height: 999px
    }
    #footer #footerBlocks-1,
    #footerBlocks-2 {
        width: auto;
        float: none;
        text-align: center
    }
    #footer #footerBlocks-1 .text-align-right,
    #footerBlocks-2 .text-align-right,
    #footer #footerBlocks-1 .text-align-left,
    #footerBlocks-2 .text-align-left,
    #footer #footerBlocks-1 .social-links,
    #footerBlocks-2 .social-links {
        text-align: center
    }
    #slideshowWrapper.mobile-gallery {
        margin: 0 !important;
        height: auto !important
    }
    #slideshowWrapper.mobile-gallery .sqs-wrapper {
        width: auto !important;
        left: auto !important;
        top: auto !important
    }
    #slideshowWrapper.mobile-gallery #slideshow {
        height: auto !important;
        background-color: transparent !important
    }
    #slideshowWrapper.mobile-gallery #galleryWrapper,
    #slideshowWrapper.mobile-gallery .gallery-controls {
        position: static !important
    }
    #slideshowWrapper.mobile-gallery #slideshow .slide {
        display: block !important;
        position: relative !important;
        opacity: 1 !important;
        height: auto !important;
        width: 100% !important
    }
    #slideshowWrapper.mobile-gallery #slideshow .slide img {
        position: static !important;
        height: auto !important;
        width: 100% !important
    }
    #slideshowWrapper.mobile-gallery #slideshow .slide .image-description {
        display: block;
        position: static;
        background: none;
        color: #111;
        opacity: 1;
        padding: 20px
    }
    #slideshowWrapper.mobile-gallery .gallery-controls {
        display: none !important
    }
    #footerWrapper center {
        display: block
    }
    .category-nav-toggle-label {
        display: block;
        visibility: visible;
        width: 100%;
        z-index: 2;
        position: absolute;
        top: .5em;
        right: 12px;
        cursor: pointer;
        font-size: 14px;
        line-height: 1.8em;
        text-align: right
    }
    .category-nav-toggle-label:after {
        font-size: 21px;
        content: "+";
        display: block;
        text-align: right
    }
    #categoryNav {
        margin-bottom: 25px;
        position: relative;
        padding: 0 12px;
        background-color: #f7f7f7
    }
    #categoryNav a {
        color: #111
    }
    #categoryNav ul {
        text-align: left;
        font-size: 14px;
        margin: 0px 10% 0 0;
        padding: 0;
        line-height: 1.8em
    }
    #categoryNav ul li {
        margin: 0;
        display: none
    }
    #categoryNav ul li.filter {
        display: block;
        visibility: visible
    }
    #categoryNav ul li a {
        display: block;
        font-size: 14px;
        padding: .5em 0
    }
}
/*********** Top Nav ******************/
#headerWrapper nav,
#headerWrapper nav a,
#mobileNav nav a,
#mobileNav nav label {
    font-family: Open Sans, Helvetica, arial, sans-serif;
    font-weight: normal;
    letter-spacing: 0px;
    font-family: 'Didact Gothic', sans-serif;
    text-transform: none;
    letter-spacing: .04em;
    font-weight: lighter;
    font-style: normal;
    font-size: 15px
}

nav ul,
nav ol {
    margin: 0
}

#topNav {
    position: relative
}

#topNav nav {
    position: relative;
    bottom: -10px;
    margin-top: 0;
    float: left
}

#topNav nav ul {
    float: left
}

#topNav nav li {
    float: left;
    position: relative
}

#topNav nav li a {
    line-height: 30px;
    display: inline-block
}

#topNav nav li+li {
    margin-left: 25px
}
/*********** Header Styles ************/
header {
    letter-spacing: 1px;
    font-size: 18px;
}
.logo {
    position: fixed;
    top: 35px;
    left: 35px;
}
.menu {
    position: fixed;
    top: 35px;
    right: 35px;
}
.menu__list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.menu__item {
    display: inline;
    margin: 0 0 10px 20px;
    opacity: 0.5;
}
.menu__link {
    padding-bottom: 3px;
}
/*********** Wrapper Styles **************/

.about main {
    max-width: 40%;
    padding-top: 3rem;
}
.project #project-wrapper {
    max-width: 100%;
}
.project .project-img img {
    max-width: 100%;
}
/********** Mobile Styles ************/
@media screen and (max-width:45em){
    main {
  -webkit-transform: none;
  transform: none;
    }
    .about main {
    max-width: 100%;
    padding-top: 3rem;
    }
    #slideshowWrapper, .imageWrapper {
    max-width: 100%;
    margin-right: 0%;
    display: block;
    vertical-align: top;
    width: 100%;
    }
    .text-contents {
    max-width: 100%;
    display: block;
    width: 100%;
}
}
/*********** Headers ********************/
h1 {
    font-size: 16px;
    letter-spacing: 1px;
    margin: 25px 0px;
}
.project h1 {
    position: fixed;
    top: 35px;
    font-size: 18px;
    font-weight: normal;
    text-align: center;
    left: 50%;
    letter-spacing: 1px;
    margin: 0px 0 0 4px;
}
h2 {
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 18px;
}
h3 {
    font-size: 18px;
    font-weight: normal;
    letter-spacing: 1px;
}
/******************* Projects **************************/
/* Styles for projects */
.projects main {
    max-width: 100%;
}
main {
    max-width: 100%;
    width: 100%;
    margin: 0;
    padding: 4em 0em;
    transition: opacity 0.6s;
    flex: 1;
}
.projects_menu-link {
    border-bottom: 0px;
}
.projects_menu img {
    display: block;
    width: 100%;
    height: auto;
}
.project_menu-item {
    margin: 30px 30px 0px 0px;
    vertical-align: top;
}
.projects_menu {
    flex: 1 0 auto;
    max-width: 100%;
    width: 100%;
    display: block;
    text-align: left;
    align-items: flex-start;
    display: flex;
}
.projects_menu-list {
    align-items: flex-start;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    justify-content: flex-start;
}
.project_menu-item {
    margin: 30px 30px 0 0;
    display: block;
    width: 24%;
    vertical-align: top;
}

.projects_menu-link {
    font-size: 16px;
    letter-spacing: 1px;
}
.project-img {
    padding: 48px 0px 0px 0px;
}
.text-contents {
    max-width: 45%;
    display: inline-block;
    vertical-align: top;
}
/*------------------ Slider styles --------------------*/
.slider-nav a {
  font-size: 12px;
  color: #000;
  text-decoration: none;
}
#slideshowWrapper, .imageWrapper {
    max-width: 45%;
    margin-right: 5%;
    display: inline-block;
    vertical-align: top;
    width: 45%;
}
@media only screen and (max-width:767px) {
	body {
	background: #fff !important;
	color: #000;
	font-family: Arial, sans-serif;
	font-size: 16px;
	line-height: 24px;
	margin: 0;
	overflow-x: hidden;
	-webkit-text-size-adjust: 100%;
	text-rendering: optimizeLegibility;
	padding-top: 44px;
	}
	.imageWrapper {
	max-width: 100%;
	width: 100%;
	}
	.text-contents {
	max-width: 100%;
	display: inline-block;
	vertical-align: top;
	}
	.project h1 {
	position: relative;
	left: 0;
	text-align: left;
	top: 0;
	margin: 25px 0px 0px 0px;
	}
}

.slider, .slideshow_thumbnails {
    padding: 30px 0px 0px 0px;
}
.slider img {
  display: none;
  max-width: 100%;
  overflow: hidden;
  opacity: 0;
  height: 0;
  width: 0;
  font-size: 0;
  margin-left: -2px;
}
.slider img.active {
    display: inline-block;
    opacity: 1;
    height: auto;
    vertical-align: bottom;
    max-height: 83vh;
    width: auto;
}
.slider img.inactive {
  visibility: hidden;
  opacity: 0;
}
.slideshow_thumbnails {
  display: none;
}
.slideshow_thumbnails.show {
  display: block;
}
.slideshow_thumbnails.show img {
    max-width: 100%;
    vertical-align: top;
    display: inline-block;
    cursor: pointer;
    margin: 0 20px 20px 0;
    height: 150px;
    width: auto;
}
.slider.hide {
  display: none;
}
.slider-nav .slideshow_toggle_thumbnails {
  float: right;
  margin-right: 1px;
}
/**** Toolset Styles ********/
.toolset {
	background: rgba(245, 245, 245, 0.97);
	height: 44px;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 999;
	padding: 0px 35px 0px 35px;
}
/* Dark counterpart: */
body.dark .toolset {
	background: rgba(25, 25, 25, 0.97);
	top: 1px;
}

.toolset .bottom_line {
	bottom: auto;
	bottom: -1px;
	display: block;
}

.toolset .link {
	color: #999;
	display: block;
	float: left;
	height: 44px;
	padding: 18px;
	text-decoration: none;
	position: relative;
}

.toolset svg {
	display: block;
}

.toolset .navigation_toggle {
	position: absolute;
	top: 0; right: 0;
	z-index: 9;
}

.toolset .project_arrows {
	float: left;
	width: 135px;
}

.toolset .project_arrows > div {
	border-right: 1px solid #ccc;
	width: 45px;
}
/* Dark counterpart: */
body.dark .toolset .project_arrows > div {
	border-right: 1px solid #333;
}

.project_open .toolset .project_arrows {
	display: block;
}

.nav_container .project_link {
	display: none;
}

.nav_svg {
	fill: #333;
}
/* Dark counterpart: */
body.dark .nav_svg {
	fill: #fff;
}

.top_line {
	background: #333;
	height: 0px;
	position: absolute;
	top: -1px;
	left: 0;
	right: 0;
	z-index: 99;
}

.bottom_line {
	background: rgba(0, 0, 0, 0.15);
	height: 0px;
	position: absolute;
	bottom: -1px; left: 0; right: 0;
	z-index: 99;
}
/* Dark counterpart: */
body.dark .bottom_line {
	background: rgba(255, 255, 255, 0.21);
}

.navigation_toggle {
	border: 0;
	margin-top: -2px;
}

.navigation_toggle .nav_svg {
	fill: #333;
}
/* Dark counterpart: */
body.dark .navigation_toggle .nav_svg {
	fill: #fff;
}

.project_close .nav_svg {
	fill: #ccc;
}
/* Dark counterpart: */
body.dark .project_close .nav_svg {
	fill: #333;
}

.project_arrows svg {
	margin: -1px 0 0 -1px;
}

.project_close svg {
	margin: -2px 0 0 -3px;
}

.project_open .toolset .project_close .nav_svg {
	fill: #333;
}
/* Dark counterpart: */
body.dark.project_open .toolset .project_close .nav_svg {
	fill: #fff;
}

.nav_active .toolset a.navigation_toggle .nav_svg {
	fill: #333;
}
/* Dark counterpart: */
body.dark.nav_active .toolset a.navigation_toggle .nav_svg {
	fill: #fff;
}

.toolset .loadspin {
	background: #f5f5f5;
	border-left: 0 !important;
	display: none;
	position: absolute;
	left: 50%;
	margin-left: -10px;
	top: 50%;
	margin-top: -10px;
	z-index: 9;
}
/* Dark counterpart: */
body.dark .toolset .loadspin {
	background: #1a1a1a;
	margin-left: -5px;
	margin-top: -15px;
}

.toolset .loadspin img {
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -5px 0 0 -5px;
}

/* SVG fallback */

body.svg_disabled .toolset .link svg {
	display: none;
}

body.svg_disabled .toolset .link {
	background-image: url(/_gfx/mobile_arrows_light.gif);
	background-repeat: no-repeat;
	background-position: 0 0;
}
/* Dark counterpart: */
body.dark body.svg_disabled .toolset .link {
	background-image: url(/_gfx/mobile_arrows_dark.gif);
}

body.svg_disabled .toolset .project_arrows div.project_prev {
	background-position: 0 0;
}

body.svg_disabled .toolset .project_arrows div.project_close {
	background-position: -45px 0;
}

body.svg_disabled .toolset .project_arrows div.project_next {
	background-position: -90px 0;
}

body.svg_disabled .toolset .navigation_toggle {
	background-position: -145px 0;
}

