<nav class="main-nav" role="navigation">
    <ul id="nav" data-content-field="navigation">
        {{#each collections.pages}}
        <li class="menu__item" {{#is this.path @root.path }}aria-current="page"{{/is}}>
            {{#if this.path }}
            <a href="/{{ this.path }}/" class="menu__link">{{ this.title }}</a>
            {{ else }}
            <a href="/" class="menu__link">{{ this.title }}</a>
            {{/if}}
        </li>
        {{/each}}
    </ul>
</nav>
