<nav class="projects_nav" role="navigation">
    <div class="projects_nav_list">
        {{# each collections.projects }}
        <div class="project_nav_item {{#is this.path @root.path }}active{{/is}}">
            <a href="/{{ this.path }}" class="prev">&larr;</a>
            <a href="https://www.nickhalstead.co.uk" class="index">index</a>
            <a href="/{{ this.path }}" class="next">&rarr;</a>
        </div>
        {{/ each }}
    </ul>
</nav>
