<nav class="projects_nav" role="navigation">
    <div class="projects_nav_list">
        {{# each collections.projects }}
        <div class="project_nav_item {{#is this.path @root.path }}active{{/is}}">
<div class="lesson-nav">
      {{#if previous}}
        <a class="prev" href="/{{{previous.url}}}">&larr; {{{previous.title}}}</a>
      {{/if}}
      {{#if next}}
        <a class="next right" href="/{{{next.url}}}">{{{next.title}}} &rarr;</a>
      {{/if}}
    </div>
        </div>
        {{/ each }}
    </ul>
</nav>
