{{> doc-head }}
<body class="projects">
    {{> header }}

    <main>

        <div class="project-img"><img src="{{image}}"/></div>
        {{{ contents }}}

        {{> project-grid }}
    </main>

    {{> footer }}
</body>
</html>
