{{> doc-head }}
<link href="/assets/css/blog.css" rel="stylesheet">
<body>
    {{> header }}

    <main>

            {{#each project in projects}}
        <h1>{{project.title}}</h1>
        <ul>
            {{#each image in project.images}}
                <div class="project-img"><img src="{{image}}"/></div>
            {{/each}}
        </ul>
    {{/each}}
       

        {{{ contents }}}
    </main>

    {{> footer }}
</body>
</html>
