{{> doc-head }}
<link href="/assets/css/blog.css" rel="stylesheet">
<body>
    {{> header }}

    <main>
        <h1>{{ title }}</h1>
        <h3>{{ description }}</h3>
        <div class="project-img"><img src="{{image}}"/></div>
        {{{ contents }}}

        {{> project-nav }}
    </main>

    {{> footer }}
</body>
</html>
