{{> doc-head }}
<body class="project">
    {{> header }}

    <main>
        <div id="project-wrapper">
            <div class="imageWrapper">
            <div class="project-img"><img src="{{image}}"/></div>
            </div>
	    <div class="text-contents">
            <h1>{{ title }}</h1>
            {{{ contents }}}     
	    </div>	    
        </div>    
    </main>

    {{> footer }}
</body>
</html>
